<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/wbqvbi6o6ip0vz55ua5gp17g4f1k7ve9.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Data Analysis with Python</font></h1>

# Module 2 Data Wrangling
### welcome!

In this section, you will learn how to deal with missing data, data standardization/normalization/binning, and how to create indicator variables by Pandas Library. 
<div>At the end of this section, you will master the basic rules for data wrangling, and obtain a cleaned dataset for further analysis.</div>

## Table of content

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref1">Indentify and handle missing values</a>
<ul><div><a href="#ref2">- Indentify missing values</a></div>
<div><a href="#ref3">- Deal with missing values</a></div>
<div><a href="#ref4">- Correct data format</a></div></ul></li>
<p></p>
<li><a href="#ref5"><p>Data standardization</p></a></li>
<li><a href="#ref6"><p>Data Normalization (centring/scaling)</p></a></li>
<li><a href="#ref7"><p></p>Binning</a></li>
<li><a href="#ref8"><p>Indicator variable</p></a></li>
<p></p>
Estimated Time Needed: <strong>20 min</strong>
</div>



 
<hr>

# Read data
In this case, the data comes from the website below,

data source: https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
<div>data type: csv</div>

In [ ]:
import pandas as pd

!wget  --quiet --output-document df.csv  https://www.dropbox.com/s/txx7qeekqquyw23/df.csv?dl=0
    
# read csv file
df = pd.read_csv("df.csv")

# show the first 5 rows of dataset
df.head(5)

As we can see, several question marks appeared in the dataframe, those are missing values which may hinder our further analysis. 
<div>So, how do we indentify all those missing values and deal with them?</div>

<a id="ref1"></a>
#  Indentify and handle missing values
**How to work with missing data?**

Steps for working with missing data in Python:
1. indentify missing data
2. deal with missing data
3. correct data format

<a id="ref2"></a>
## Indentify missing data
### Convert "?" to NaN
In this dataset, missing data comes with the question mark "?". 

First spet is to replace "?" to NaN, which is a default missing value marker for reasons of computational speed and convenience. Here we use function <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [ ]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

### Evaluating for Missing Data

There are 2 methods to detect missing data,
1.  <pre>.isnull()</pre>
2.  <pre>.notnull()</pre>

The output is a boolean value indicating whether the passed in argument value is in fact missing data.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

"True" stands for missing value, while "False" stands for not missing value.

### Count missing values in each column
Using a for loop in Python, we can easily figure out how many missing data in each column (As mentioned above, "True" = missing value, "False" = not missing value.)

In [ ]:
for row in missing_data.columns.values.tolist():
    print row
    print (missing_data[row].value_counts())
    print ""

Based on the summary above, each column has 205 rows of data, and there are 7 columns contain missing data:

1. "normalized-losses": 41 missing data
2. "num-of-doors": 2 missing data
3. "bore": 4 missing data
4. "stroke" : 4 missing data
5. "horsepower": 2 missing data
6. "peak-rpm": 2 missing data
7. "price": 4 missing data

<a id="ref3"></a>
## Deal with missing data
**How to deal with missing data?**

Usually, there are 2 ways to deal with missing data: 
    
    1. drop data 
        a. drop the whole row
        b. drop the whole column
    2. replace data
        a. replace it by mean
        b. replace it by frequency
        c. replace it by 0
        c. replace it based on other functions

According to this dataset, there are the ways to deal with each column,

**Replace by mean:**

    "normalized-losses": 41 missing data, replace them by mean
    "stroke": 4 missing data, replace them by mean
    
**Repalce by frequency:**

    "num-of-doors": 2 missing data, replace them with "four". 
        * Reason: 84% sedans is four doors, so by frequency way, replace them with "four"
    
**Replace based on other functions:**

    "bore": 4 missing data, replace them by 2.75.
        * Reason: we found, when "num-of-cylinders" = "two", "bore" =~ 2.75
    "horsepower": 2 missing data, replace them by 110
        * Reason: we found, when "city-mpg" = 23, "horsepower" =~ 110
    "peak-rpm": 2 missing data, replace them by 5250
        * Reason: we found, "peak-rpm" is based on "horsepower", when "horsepower" = 110, "peak-rpm" = 5250

**Drop the whole row:**

    "price": 4 missing data, simply delete the whole row
        * Reason: because this is our target value

In [ ]:
# calculate the mean vaule for "normalized-losses" column
avg_1 = df["normalized-losses"].astype("float").mean(axis = 0)

# replace NaN by mean value in "normalized-losses" column
df["normalized-losses"].replace(np.nan, avg_1, inplace = True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #1: </h1>

<b>According to the example above, replace NaN in "stroke" column by mean.</b>
</div>

In [ ]:
# calculate the mean vaule for "stoke" column
# type your code here

# replace NaN by mean value in "stoke" column
# type your code here

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #1 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b><img src =https://app.box.com/representation/file_version_112831004501/image_2048/1.png></b>
</div>

In [ ]:
# replace NaN in each column, by the unqiue values explained above
df["num-of-doors"].replace(np.nan, "four", inplace = True)
df["bore"].replace(np.nan, 2.75, inplace = True)
df["horsepower"].replace(np.nan, 110, inplace = True)
df["peak-rpm"].replace(np.nan, 5250, inplace = True)

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)

In [ ]:
df.head()

**Good!** Now, we obtain the dataset with no missing values.

<a id="ref4"></a>
### Correct  data format
**We are almost there!**

After working with missing data,
<div>The last step in data cleaning is checking and making sure that all data is in correct format (int, float, text or other).</div>

In Pandas, we use 
<div>**.dtype()** to check the data type</div>
<div>**.astype()** to change the data type</div>

In [ ]:
# list the data types for each column
df.dtypes

As we can see above, some column is not in correct data type. 

For example: column "normalized-losses" should be integer, while it shows it's object. The thing we have to do right now is converting data types into proper format by each column.

In [ ]:
# convert data types to proper format
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses","horsepower", "peak-rpm", "price"]] = df[["normalized-losses","horsepower", "peak-rpm", "price"]].astype("int")

In [ ]:
# display first 5 rows of the cleaned dataset
df.head(5)

**Wonderful!**

Now, we finally obtain the cleaned dataset with no missing values, and all data in its proper format.
<div>This is the cleaned dataset we prepared for any further analysis later.</div>

<a id="ref5"></a>
# Data Standardization
**What is Standardization?**
<div>Standardization is the process of implementing and developing technical standards based on the consensus of different parties.</div>

**Example**
<div>Transform mpg to L/100km:</div>
<div>In our dataset, we can find column "city-mpg" and "highway-mpg" are shown with the unit mpg (miles per gallon), which are hard for people to understand. </div>
<div>Why not transforming these into L/100km?</div>

1 mpg = 235 L/100km
<div>We can just do mathematical operations in Pandas.</div>

In [ ]:
# transform mpg to L/100km by mathematical operation (multiply by 235)
df["city-mpg"] = df["city-mpg"]*235

# rename column name from "city-mpg" to "city-L/100km"
df.rename(columns={'city-mpg':'city-L/100km'}, inplace=True)

# check your transformed data 
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg", and change the name of column to "highway-L/100km".</b>
</div>

In [ ]:
# transform mpg to L/100km by mathematical operation (multiply by 235)
# type your code here

# rename column name from "highway-mpg" to "highway-L/100km"
# type your code here

# check your transformed data 
# type your code here

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #2 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b><img src = https://app.box.com/representation/file_version_113408643159/image_2048/1.png></b>
</div>

<a id="ref6"></a>
# Data normalization (centring/scaling)

**Why normalization?**
<div>normalization? is the process of organizing the columns (attributes) and tables (relations) of a relational database to reduce data redundancy and improve data integrity. </div>

**How to normalize data?**
<div>Normalization rescales the values into a range of [x, y] (usually [-0.5, 0.5] or [0, 1])</div>

**Example**
<div>Here gives a example of normalization of the column "length", "width" and "height", </div>
<div>**Purpose:** we would like to normalizate those columns in the range of [0,1].</div>
<div>**Approach:** replace (origianl value) by (original value)/(maximum value)</div>

In [ ]:
# replace (origianl value) by (original value)/(maximum value)
df[["length"]] = df[["length"]].apply(lambda x: x/x.max() )
df[["width"]] = df[["width"]].apply(lambda x: x/x.max() )

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #3: </h1>

<b>According to the example above, normalize the column "height".</b>
</div>

In [ ]:
# normalize column "height"
# type your code here

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #3 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b><img src =https://app.box.com/representation/file_version_112839030685/image_2048/1.png></b>
</div>

In [ ]:
# show the scaled columns
df[["length","width","height"]].head()

Here we can see, we've normalized "length", "width" and "height" in the range of [0,1].

<a id="ref7"></a>
#  Bining
**Why bining?:** 
<div>Data binning or bucketing is a data pre-processing technique used to reduce the effects of minor observation errors. </div>

**Methodology:** 
<div>Statistical data binning is a way to group a number of more or less continuous values into a smaller number of "bins". </div>

**Example:** 
<div>Accoding to this dataset, "horsepower" is a numerical variable range from 48 to 288, it has 57 unique values, hard for us to analyze.</div>
<div>Can we rearrange them into a smaller number of intervals?</div>

## Binning Data In Pandas

In [ ]:
# determine number of bins, which is 3 here
binwidth = (max(df["horsepower"])-min(df["horsepower"]))/3

# build bin array, from min value to max value, with binwidth caculated above
bins = range(min(df["horsepower"]), max(df["horsepower"]), binwidth)

# set group names
group_names = ['Low', 'Medium', 'High']

# add a new column that show the binned horsepower
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names)
df.head(5)

Check the dataframe above carefully, you will find the last column provides the bins for "horsepower" with 3 categories ("Low","Medium" and "High"). 
<div>We successfully narrow the intervals from 57 to 3!</div>

## Bins visualization 
Here we draw a bar chart to visulize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

The plot above shows the binning result for attribute "horsepower".

<a id="ref8"></a>
# Indicator variable (or dummy variable)
**What is indicator variable?**
<div>An indicator variable is one that takes the value 0 or 1 to indicate the absence or presence of some categorical effect that may be expected to shift the outcome.</div>

**Example**
<div>In this case, we find column "fuel-type" has two unique values, "gas" or "diesel". It is a great idea to convert them into numetical values 0 or 1, so that this attribute can be used in regression analysis.</div>

In [ ]:
# use .replace() method to convert "gas" to 0
df["fuel-type"].replace("gas", 0, inplace = True)

# use .replace() method to convert "diesel" to 1
df["fuel-type"].replace("diesel", 1, inplace = True)

# check your indicator variables
df.head()

As we can see, we use 0 and 1 to present the original value "gas" and "diesel" in the column of "fuel-type".

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #4: </h1>

<b>According to the example above, create indicator variable to the column of "aspiration": "std" to 0, while "turbo" to 1.</b>
</div>

In [ ]:
# use .replace() method to convert "std" to 0
# type your code here

# use .replace() method to convert "turbo" to 1
# type your code here

# check your indicator variables
# type your code here

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Assignment #4 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b><img src = https://app.box.com/representation/file_version_113408043352/image_2048/1.png></b>
</div>

# Excellent! You have just completed the  Data Wrangling notebook!

# End of Module 2

### About the Authors:  
Hi! It's [Ke Xing](https://ca.linkedin.com/in/ke-xing-1987a3b0) and [Parizad Sajedi](https://ca.linkedin.com/in/parizad-sajedi-080172127). We're the authors of this notebook. We hope you enjoyed this topic on Data Wrangling in Python! There's lots more to learn about this topic but you're well on your way. Feel free to connect with us if you have any questions.